// ==========================================
// FUNCIONES
// ==========================================
@use "sass:color";
@use "sass:map";
@use "sass:list";
@use "sass:math";
@use "sass:meta";
@use "sass:string";
@use "variables" as *;

// ==========================================
// MEDIDAS
// ==========================================
@function rem($pixels) {
  @return #{math.div($pixels, $base-font-size)}rem;
}

// ==========================================
// COLORES - UTILIDADES
// ==========================================
@function color-to-rgb($color) {
  @return #{color.channel($color, "red", $space: rgb)},
    #{color.channel($color, "green", $space: rgb)}, #{color.channel($color, "blue", $space: rgb)};
}

// ==========================================
// COLORES - ESCALAS SIMPLIFICADAS
// ==========================================
@function generate-color-scale($base-color) {
  $color-scale: ();

  // Color base
  $color-scale: map.set($color-scale, "", $base-color);
  $color-scale: map.set($color-scale, "rgb", color-to-rgb($base-color));

  // Escalas básicas
  @each $step, $lightness in $lightness-steps {
    $hue: color.channel($base-color, "hue", $space: hsl);
    $saturation: color.channel($base-color, "saturation", $space: hsl);
    $step-color: hsl($hue, $saturation, $lightness);
    $color-scale: map.set($color-scale, $step, $step-color);
    $color-scale: map.set($color-scale, "#{$step}-rgb", color-to-rgb($step-color));
  }

  @return $color-scale;
}

// ==========================================
// UTILIDADES
// ==========================================
